<p>Digite um número</p>
<input type="number" name="Valor 1" [(ngModel)]="valor1">
<br>
<input type="number" name="Valor 2" [(ngModel)]="valor2">
<br>
<p>RESULTADO:{{resultado}}</p>
<br>
<button (click)="num1()">1</button>
<button (click)="num2()">2</button>
<button (click)="num3()">3</button>
<button (click)="somar()">+</button>
<br>
<button (click)="num4()">4</button>
<button (click)="num5()">5</button>
<button (click)="num6()">6</button>
<button (click)="subtrair()">-</button>
<br>
<button (click)="num7()">7</button>
<button (click)="num8()">8</button>
<button (click)="num9()">9</button>
<button (click)="div()">&divide;</button>
<button (click)="multi()">&times;</button>
<br>

